<!-- Navigation -->
<div class="row">
    <div class='container'>
        <a class="logo" href="/" ></a>
        <nav class="clearfix main_nav">
            <ul class="nav navbar-nav menue_links">
                <li>
                    <a href="#/all_posts">All posts</a>
                </li>
                <li>
                    <a href="#/add_post">Add post</a>
                </li>
                <li>
                    <a href="#/about">About Hlebushek</a>
                </li>
            </ul>
        </nav>
    </div>
</div>