<div class="container">
    <div class="single_col main_col parts_bg">
        <h1>
            <img src="/public/img/kittybread.gif" class="gif-emoj">
            404
            <small>Page Not Found :(</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#{{ ROUTES.HOME }}">Home</a>
            </li>
            <li class="active">404</li>
        </ol>
        <p class="lead">The page you're looking for could not be found.</p>
        <p>Here are some helpful links to help you find what you're looking for:</p>
        <ul>
            <li><a href="#{{ ROUTES.HOME }}">Home</a></li>
            <li><a href="#{{ ROUTES.ABOUT }}">About</a></li>
        </ul>
    </div>
</div>
