<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well parts_bg">
                <h4>Author name</h4>

                <p>Some short author info, or some other stuff ...</p>
                <p>Authorization : {{ auth }}</p>
            </div>
        </div>
        <div class="col-lg-8 main_col parts_bg">
            <h4>Add new post:</h4>
            <fieldset disabled="{{ auth }}">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control form_input" placeholder="Enter a title">
                        <textarea class="form-control" rows="3" title=""></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit post</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>