<div class="container">

    <!-- For authorization account -->
    <div class="row" ng-if="auth">
        <div class="col-md-4">
            <div class="parts_bg panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title" id="username-heading">{{ user.first_name + ' ' + user.last_name }}</h3>
                </div>
                <div class="panel-body">
                    <p>View this account
                        <a href="{{ '#/all_posts/user' + user.user_id }}">posts</a>
                    </p>
                    <a class="btn orange-btn btn-md" ng-click="logOut()" href="{{ '#' + ROUTES.HOME }}">Sign out</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 main_col parts_bg">
            <h4>Add new post:</h4>
            <div class="well parts_bg">
                <fieldset>
                    <form role="form" action="./service/posts" method="POST" id="add-post-form">
                        <div class="form-group">
                            <input name="author_id" value="{{ user.user_id }}" hidden="hidden" title="">
                            <input name="title" type="text" class="form-control form_input" placeholder="Enter a title" id="post-title-input">
                            <textarea name="message" class="form-control" rows="3" title="" id="post-text-input"></textarea>
                        </div>
                        <button type="submit" class="btn orange-btn" id="submit_post_btn">Submit post</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>

    <!-- For guest -->
    <div class="row" ng-if="!auth">
        <div class="col-md-4">
            <div class="parts_bg panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title bold">Hello, guest!</h3>
                </div>
                <div class="panel-body">
                    <p>Please logIn to add a post.</p>
                    <a class="btn orange-btn btn-md" href="{{ '#' + ROUTES.AUTH }}">Sign in</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 main_col parts_bg">
            <h4>Add new post:</h4>
            <div class="well parts_bg">
                <fieldset disabled>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control form_input" placeholder="Enter a title">
                            <textarea class="form-control" rows="3" title=""></textarea>
                        </div>
                        <button type="submit" class="btn orange-btn">Submit post</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>