<div class="container" >
    <div class="row">
        <div class="col-md-4">
            <div class="well parts_bg">
                <h4>Author name</h4>
                <p>Some short author info, or some other stuff ...</p>
            </div>
        </div>
        <div class="col-lg-8 main_col parts_bg">
            <div ng-repeat="post in posts">
                <h1>{{ post.title }}</h1>
                <p ng-show="{{ post.create_date }}">
                    <span class="glyphicon glyphicon-time"></span>
                    Posted on {{ post.create_date | date}}
                </p>
                <p class="lead post-message">
                    {{ post.message }}
                </p>
                <small>By {{ post.author_id }}
                    <a href="#/all_posts/user{{ post.author_id }}">go to blog</a>
                </small>
                <hr>
            </div>
        </div>
    </div>
</div>