<div class="container" >
    <div class="row">
        <div class="col-md-4">
            <div class="parts_bg panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.first_name + ' ' + user.last_name }}</h3>
                </div>
                <div class="panel-body">{{ 'Posts count: ' + posts.length}}</div>
            </div>
        </div>
        <div ng-if="posts.length" class="col-lg-8 main_col parts_bg">
            <div ng-repeat="post in posts">
                <h1><a href="{{ '#/user' + post.author_id + '/post' + post.post_id }}"  class="post_link">{{ post.title }}</a></h1>
                <p ng-show="{{ post.create_date }}">
                    <span class="glyphicon glyphicon-time"></span> Posted on {{ post.create_date | date:'fullDate' }}
                </p>
                <p class="medium_txt">
                    {{ post.message }}
                </p>
                <hr>
            </div>
        </div>
        <div ng-if="posts.length === 0" class="col-lg-8 main_col">
            <p class="parts_bg lead no-posts">No posts yet. For create it, go to account page</p>
        </div>
    </div>
</div>
