<div class="container" >
    <div class="row">
        <div class="col-md-4">
            <div class="parts_bg panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ user.first_name + ' ' + user.last_name }}</h3>
                </div>
                <div class="panel-body">{{ 'Posts count: ' + posts.length}}</div>
            </div>
        </div>
        <div ng-if="posts.length" class="col-lg-8 main_col parts_bg">
            <div ng-repeat="post in posts">
                <h1><a href="{{ '#/user' + post.author_id + '/post' + post.post_id }}"  class="post_link">{{ post.title }}</a></h1>
                <p ng-show="{{ post.create_date }}">
                    <span class="glyphicon glyphicon-time"></span> Posted on {{ post.create_date | date:'fullDate' }}
                </p>
                <p class="medium_txt">
                    {{ post.message }}
                </p>
                <p>
                    <small>
                        <a href="{{ '#/user' + post.author_id + '/post' + post.post_id }}" id="show_comments" class="post_link">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            Comments
                        </a>
                    </small>
                </p>
                <hr>
            </div>
        </div>
        <div ng-if="posts.length === 0" class="col-lg-8 main_col parts_bg no-posts">
            <p><img src="/public/img/kittybread.gif" alt class="gif-emoj"></p>
            <p class=" lead no-posts">No posts added. To create one, go to <a href="{{ '#' + ROUTES.ADD_POST }}" class="btn-brown">Add post</a> page.</p>
        </div>
    </div>
</div>
