<div class="container">
    <div class="row">

        <!-- Blog Sidebar Widgets Column -->
        <div class="single_col main_col parts_bg">
            <h1 id="post-title">{{ post.title }}</h1>
            <p ng-show="{{ post.create_date }}">
                <span class="glyphicon glyphicon-time">
                    Posted on {{ post.create_date | date}}
                </span>
            </p>

            <!-- Post Content -->
            <p class="medium_txt" id="post-message">
                {{ post.message }}
            </p>
            <small>By {{ post.first_name + ' ' + post.last_name }}</small>
            <p>
                <small>
                    <a href="{{ '#/all_posts/user' + post.author_id }}" class="post_link">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Back to user blog
                    </a>
                </small>
            </p>
            <hr>

            <!-- Comments -->
            <div ng-controller="GetComments" class="comments col-sm-offset-1">
                <div  id="comments-wrapper">
                    <div ng-if="comments.length" ng-repeat="comment in comments" class="media single-comment">
                        <div class="media-body">
                            <h4 class="media-heading"> {{ comment.first_name + ' ' + comment.last_name }}
                                <small>{{ comment.create_date | date:'fullDate' }}</small>
                            </h4>
                            <p class="small comment-message">{{ comment.message }}</p>
                        </div>
                    </div>
                    <div ng-if="comments.length === 0">
                        <div class="media-body">
                            <h4 class="media-heading">
                                <small>No comments yet. Your's will be first ;)</small>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="well parts_bg" ng-controller="AccountController">
                    <h4>Leave a Comment:</h4>
                    <form  ng-submit="submit()" name="CommentForm">
                        <div class="form-group">
                            <textarea name="message" class="form-control" id="comment-input" rows="3"  ng-model="CommentFormData.message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default" id="submit-comment-btn">Submit comment</button>
                        <p class="err" ng-show="dataLoaded"><span class="glyphicon glyphicon-ban-circle"></span> Something went wrong :( Try again later</p>
                    </form>
                    <p ng-if="!auth">Please,
                        <a href="{{ '#' + ROUTES.AUTH }}">logIn</a> to leave comments.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
