<div class="container">
    <div class="row">

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="well parts_bg">
                <h4>{{ post.first_name + ' ' + post.last_name }}</h4>
                <p>Some short author info, or some other stuff ...</p>
            </div>
        </div>
        <div class="col-lg-8 main_col parts_bg">
            <h1>{{ post.title }}</h1>
            <p ng-show="{{ post.create_date }}">
                <span class="glyphicon glyphicon-time">
                    Posted on {{ post.create_date | date}}
                </span>
            </p>

            <!-- Post Content -->
            <p class="medium_txt">
                {{ post.message }}
            </p>
            <small>By {{ post.first_name + ' ' + post.last_name }}</small>
            <p>
                <small>
                    <a href="{{ '#/all_posts/user' + post.author_id }}" class="post_link">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Back to user blog
                    </a>
                    <a href id="show_comments" class="post_link">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        Comments
                    </a>
                </small>
            </p>
            <hr>

            <!-- Comments -->
            <div ng-controller="GetComments" class="comments col-sm-offset-1">
                <div ng-if="comments.length" ng-repeat="comment in comments" class="media">
                    <div class="media-body">
                        <h4 class="media-heading"> {{ comment.first_name + ' ' + comment.last_name }}
                            <small>{{ comment.create_date | date:'fullDate' }}</small>
                        </h4>
                        <p class="small">{{ comment.message }}</p>
                    </div>
                </div>
                <div ng-if="comments.length === 0">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <small>No comments yet. Will be first ;)</small>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="well parts_bg">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" title=""></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
